<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Pokemons</key>
        <array>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>126</integer>
                <key>BaseDefense</key>
                <integer>126</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>156</integer>
                <key>BaseDefense</key>
                <integer>158</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>198</integer>
                <key>BaseDefense</key>
                <integer>200</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>78</integer>
                <key>BaseAttack</key>
                <integer>128</integer>
                <key>BaseDefense</key>
                <integer>108</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>116</integer>
                <key>BaseAttack</key>
                <integer>160</integer>
                <key>BaseDefense</key>
                <integer>140</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>156</integer>
                <key>BaseAttack</key>
                <integer>212</integer>
                <key>BaseDefense</key>
                <integer>182</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>88</integer>
                <key>BaseAttack</key>
                <integer>112</integer>
                <key>BaseDefense</key>
                <integer>142</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>118</integer>
                <key>BaseAttack</key>
                <integer>144</integer>
                <key>BaseDefense</key>
                <integer>176</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>158</integer>
                <key>BaseAttack</key>
                <integer>186</integer>
                <key>BaseDefense</key>
                <integer>222</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>62</integer>
                <key>BaseDefense</key>
                <integer>66</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>56</integer>
                <key>BaseDefense</key>
                <integer>86</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>144</integer>
                <key>BaseDefense</key>
                <integer>144</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>68</integer>
                <key>BaseDefense</key>
                <integer>64</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>62</integer>
                <key>BaseDefense</key>
                <integer>82</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>144</integer>
                <key>BaseDefense</key>
                <integer>130</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>94</integer>
                <key>BaseDefense</key>
                <integer>90</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>126</integer>
                <key>BaseAttack</key>
                <integer>126</integer>
                <key>BaseDefense</key>
                <integer>122</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>166</integer>
                <key>BaseAttack</key>
                <integer>170</integer>
                <key>BaseDefense</key>
                <integer>166</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>92</integer>
                <key>BaseDefense</key>
                <integer>86</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>146</integer>
                <key>BaseDefense</key>
                <integer>150</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>102</integer>
                <key>BaseDefense</key>
                <integer>78</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>168</integer>
                <key>BaseDefense</key>
                <integer>146</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>112</integer>
                <key>BaseDefense</key>
                <integer>112</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>166</integer>
                <key>BaseDefense</key>
                <integer>166</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>124</integer>
                <key>BaseDefense</key>
                <integer>108</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>200</integer>
                <key>BaseDefense</key>
                <integer>154</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>90</integer>
                <key>BaseDefense</key>
                <integer>114</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>150</integer>
                <key>BaseAttack</key>
                <integer>150</integer>
                <key>BaseDefense</key>
                <integer>172</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>100</integer>
                <key>BaseDefense</key>
                <integer>104</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>132</integer>
                <key>BaseDefense</key>
                <integer>136</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>184</integer>
                <key>BaseDefense</key>
                <integer>190</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>92</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>94</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>122</integer>
                <key>BaseAttack</key>
                <integer>142</integer>
                <key>BaseDefense</key>
                <integer>128</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>162</integer>
                <key>BaseAttack</key>
                <integer>204</integer>
                <key>BaseDefense</key>
                <integer>170</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>116</integer>
                <key>BaseDefense</key>
                <integer>124</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>190</integer>
                <key>BaseAttack</key>
                <integer>178</integer>
                <key>BaseDefense</key>
                <integer>178</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>76</integer>
                <key>BaseAttack</key>
                <integer>106</integer>
                <key>BaseDefense</key>
                <integer>118</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>146</integer>
                <key>BaseAttack</key>
                <integer>176</integer>
                <key>BaseDefense</key>
                <integer>194</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>230</integer>
                <key>BaseAttack</key>
                <integer>98</integer>
                <key>BaseDefense</key>
                <integer>54</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>280</integer>
                <key>BaseAttack</key>
                <integer>168</integer>
                <key>BaseDefense</key>
                <integer>108</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>88</integer>
                <key>BaseDefense</key>
                <integer>90</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>150</integer>
                <key>BaseAttack</key>
                <integer>164</integer>
                <key>BaseDefense</key>
                <integer>164</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>134</integer>
                <key>BaseDefense</key>
                <integer>130</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>162</integer>
                <key>BaseDefense</key>
                <integer>158</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>150</integer>
                <key>BaseAttack</key>
                <integer>202</integer>
                <key>BaseDefense</key>
                <integer>190</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>122</integer>
                <key>BaseDefense</key>
                <integer>120</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>162</integer>
                <key>BaseDefense</key>
                <integer>170</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>108</integer>
                <key>BaseDefense</key>
                <integer>118</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>172</integer>
                <key>BaseDefense</key>
                <integer>154</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>20</integer>
                <key>BaseAttack</key>
                <integer>108</integer>
                <key>BaseDefense</key>
                <integer>86</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>148</integer>
                <key>BaseDefense</key>
                <integer>140</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>104</integer>
                <key>BaseDefense</key>
                <integer>94</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>156</integer>
                <key>BaseDefense</key>
                <integer>146</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>132</integer>
                <key>BaseDefense</key>
                <integer>112</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>194</integer>
                <key>BaseDefense</key>
                <integer>176</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>122</integer>
                <key>BaseDefense</key>
                <integer>96</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>178</integer>
                <key>BaseDefense</key>
                <integer>150</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>156</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>230</integer>
                <key>BaseDefense</key>
                <integer>180</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>108</integer>
                <key>BaseDefense</key>
                <integer>98</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>132</integer>
                <key>BaseDefense</key>
                <integer>132</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>180</integer>
                <key>BaseDefense</key>
                <integer>202</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>50</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>76</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>150</integer>
                <key>BaseDefense</key>
                <integer>112</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>186</integer>
                <key>BaseDefense</key>
                <integer>152</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>118</integer>
                <key>BaseDefense</key>
                <integer>96</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>154</integer>
                <key>BaseDefense</key>
                <integer>144</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>198</integer>
                <key>BaseDefense</key>
                <integer>180</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>158</integer>
                <key>BaseDefense</key>
                <integer>78</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>190</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>222</integer>
                <key>BaseDefense</key>
                <integer>152</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>106</integer>
                <key>BaseDefense</key>
                <integer>136</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>170</integer>
                <key>BaseDefense</key>
                <integer>196</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>106</integer>
                <key>BaseDefense</key>
                <integer>118</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>142</integer>
                <key>BaseDefense</key>
                <integer>156</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>176</integer>
                <key>BaseDefense</key>
                <integer>198</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>168</integer>
                <key>BaseDefense</key>
                <integer>138</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>200</integer>
                <key>BaseDefense</key>
                <integer>170</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>190</integer>
                <key>BaseAttack</key>
                <integer>184</integer>
                <key>BaseDefense</key>
                <integer>198</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>50</integer>
                <key>BaseAttack</key>
                <integer>128</integer>
                <key>BaseDefense</key>
                <integer>138</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>186</integer>
                <key>BaseDefense</key>
                <integer>180</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>104</integer>
                <key>BaseAttack</key>
                <integer>138</integer>
                <key>BaseDefense</key>
                <integer>132</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>126</integer>
                <key>BaseDefense</key>
                <integer>96</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>182</integer>
                <key>BaseDefense</key>
                <integer>150</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>104</integer>
                <key>BaseDefense</key>
                <integer>138</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>156</integer>
                <key>BaseDefense</key>
                <integer>192</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>124</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>210</integer>
                <key>BaseAttack</key>
                <integer>180</integer>
                <key>BaseDefense</key>
                <integer>188</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>120</integer>
                <key>BaseDefense</key>
                <integer>112</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>196</integer>
                <key>BaseDefense</key>
                <integer>196</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>136</integer>
                <key>BaseDefense</key>
                <integer>82</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>172</integer>
                <key>BaseDefense</key>
                <integer>118</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>204</integer>
                <key>BaseDefense</key>
                <integer>156</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>90</integer>
                <key>BaseDefense</key>
                <integer>186</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>104</integer>
                <key>BaseDefense</key>
                <integer>140</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>170</integer>
                <key>BaseAttack</key>
                <integer>162</integer>
                <key>BaseDefense</key>
                <integer>196</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>116</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>178</integer>
                <key>BaseDefense</key>
                <integer>168</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>102</integer>
                <key>BaseDefense</key>
                <integer>124</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>150</integer>
                <key>BaseDefense</key>
                <integer>174</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>132</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>190</integer>
                <key>BaseAttack</key>
                <integer>232</integer>
                <key>BaseDefense</key>
                <integer>164</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>102</integer>
                <key>BaseDefense</key>
                <integer>150</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>140</integer>
                <key>BaseDefense</key>
                <integer>202</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>148</integer>
                <key>BaseDefense</key>
                <integer>172</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>100</integer>
                <key>BaseAttack</key>
                <integer>138</integer>
                <key>BaseDefense</key>
                <integer>204</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>126</integer>
                <key>BaseDefense</key>
                <integer>160</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>136</integer>
                <key>BaseDefense</key>
                <integer>142</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>190</integer>
                <key>BaseDefense</key>
                <integer>198</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>116</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>210</integer>
                <key>BaseAttack</key>
                <integer>166</integer>
                <key>BaseDefense</key>
                <integer>160</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>500</integer>
                <key>BaseAttack</key>
                <integer>40</integer>
                <key>BaseDefense</key>
                <integer>60</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>164</integer>
                <key>BaseDefense</key>
                <integer>152</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>210</integer>
                <key>BaseAttack</key>
                <integer>142</integer>
                <key>BaseDefense</key>
                <integer>178</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>122</integer>
                <key>BaseDefense</key>
                <integer>100</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>176</integer>
                <key>BaseDefense</key>
                <integer>150</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>90</integer>
                <key>BaseAttack</key>
                <integer>112</integer>
                <key>BaseDefense</key>
                <integer>126</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>172</integer>
                <key>BaseDefense</key>
                <integer>160</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>130</integer>
                <key>BaseDefense</key>
                <integer>128</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>194</integer>
                <key>BaseDefense</key>
                <integer>192</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>80</integer>
                <key>BaseAttack</key>
                <integer>154</integer>
                <key>BaseDefense</key>
                <integer>196</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>176</integer>
                <key>BaseDefense</key>
                <integer>180</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>172</integer>
                <key>BaseDefense</key>
                <integer>134</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>198</integer>
                <key>BaseDefense</key>
                <integer>160</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>214</integer>
                <key>BaseDefense</key>
                <integer>158</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>184</integer>
                <key>BaseDefense</key>
                <integer>186</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>150</integer>
                <key>BaseAttack</key>
                <integer>148</integer>
                <key>BaseDefense</key>
                <integer>184</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>40</integer>
                <key>BaseAttack</key>
                <integer>42</integer>
                <key>BaseDefense</key>
                <integer>84</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>190</integer>
                <key>BaseAttack</key>
                <integer>192</integer>
                <key>BaseDefense</key>
                <integer>196</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>260</integer>
                <key>BaseAttack</key>
                <integer>186</integer>
                <key>BaseDefense</key>
                <integer>190</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>96</integer>
                <key>BaseAttack</key>
                <integer>110</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>110</integer>
                <key>BaseAttack</key>
                <integer>114</integer>
                <key>BaseDefense</key>
                <integer>128</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>260</integer>
                <key>BaseAttack</key>
                <integer>186</integer>
                <key>BaseDefense</key>
                <integer>168</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>192</integer>
                <key>BaseDefense</key>
                <integer>174</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>238</integer>
                <key>BaseDefense</key>
                <integer>178</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>130</integer>
                <key>BaseAttack</key>
                <integer>156</integer>
                <key>BaseDefense</key>
                <integer>158</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>70</integer>
                <key>BaseAttack</key>
                <integer>132</integer>
                <key>BaseDefense</key>
                <integer>160</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>140</integer>
                <key>BaseAttack</key>
                <integer>180</integer>
                <key>BaseDefense</key>
                <integer>202</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>60</integer>
                <key>BaseAttack</key>
                <integer>148</integer>
                <key>BaseDefense</key>
                <integer>142</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>120</integer>
                <key>BaseAttack</key>
                <integer>190</integer>
                <key>BaseDefense</key>
                <integer>190</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>160</integer>
                <key>BaseAttack</key>
                <integer>182</integer>
                <key>BaseDefense</key>
                <integer>162</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>320</integer>
                <key>BaseAttack</key>
                <integer>180</integer>
                <key>BaseDefense</key>
                <integer>180</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>198</integer>
                <key>BaseDefense</key>
                <integer>242</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>232</integer>
                <key>BaseDefense</key>
                <integer>194</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>180</integer>
                <key>BaseAttack</key>
                <integer>242</integer>
                <key>BaseDefense</key>
                <integer>194</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>82</integer>
                <key>BaseAttack</key>
                <integer>128</integer>
                <key>BaseDefense</key>
                <integer>110</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>122</integer>
                <key>BaseAttack</key>
                <integer>170</integer>
                <key>BaseDefense</key>
                <integer>152</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>182</integer>
                <key>BaseAttack</key>
                <integer>250</integer>
                <key>BaseDefense</key>
                <integer>212</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>212</integer>
                <key>BaseAttack</key>
                <integer>284</integer>
                <key>BaseDefense</key>
                <integer>202</integer>
            </dict>
            <dict>
                <key>BaseStamina</key>
                <integer>200</integer>
                <key>BaseAttack</key>
                <integer>220</integer>
                <key>BaseDefense</key>
                <integer>220</integer>
            </dict>
        </array>
    </dict>
</plist>
